<div class="header">
  <app-nav></app-nav>
</div>

<div class="sample-layout coustom-home">

  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g-3">
        <p-panel>
          <p-header style=" text-align: center">
            图书分类
          </p-header>
          <div class="ui-g">
            <div class="ui-g-12 ui-g-nopad" >
              <div class="ui-g-4" *ngFor="let cate of categories;let i = index" style="background-color: #f9faf361;text-align: center;    border: 1px solid #ffffff;">
                <div class="book-category">
                  <a [routerLink]="['/category',cate.cateCode]">
                    <div>
                      <img src="../../../assets/img/category/g{{i+1}}.png" alt="" width="25px" height="20px">
                    </div>
                    <div>
                      {{cate.cateName}}

                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-g-nopad" style="text-align: right">
              <a [routerLink]="['/category/0']">
                >>更多
              </a>
            </div>
          </div>
        </p-panel>
      </div>
      <div class="ui-g-6">
        <p-galleria [images]="images" (onImageClicked)="clickImage($event)" (onImageChange)="imageChanged($event)"
                    panelWidth="auto" panelHeight="200" showCaption="true"></p-galleria>
      </div>
      <div class="ui-g-3">
        <p-panel>
          <p-header>
            强烈推荐
          </p-header>
          <div class="ui-g">
            <div class="ui-g-12" style="border-bottom: 1px solid #dddddd;"><a [routerLink]="['/detail']">1&nbsp;&nbsp;Java从入门到精通</a></div>
            <div class="ui-g-12" style="border-bottom: 1px solid #dddddd;">2&nbsp;&nbsp;数据结构与算法分析</div>
            <div class="ui-g-12" style="border-bottom: 1px solid #dddddd;">3&nbsp;&nbsp;Python你不知道的秘密</div>
            <div class="ui-g-12" style="border-bottom: 1px solid #dddddd;">4&nbsp;&nbsp;Angular下一代开发应用</div>
            <div class="ui-g-12" style="border-bottom: 1px solid #dddddd;">5&nbsp;&nbsp;Redis实战</div>
            <div class="ui-g-12" style="\text-align: right">更多</div>

          </div>
        </p-panel>
        <!--
                  <app-history [title]="oTitle" [content]="oContent"></app-history>
        -->
      </div>

    </div>
  </div>
  <div *ngFor="let item of items;let i=index">
    <app-common-category [items]="item" [cateName]="cateNames[i]" [cateCode]="cateCodes[i]"></app-common-category>
  </div>
  <div class="ui-g" style="width: 1200px;height: 50px;margin: 0 auto ;text-align: center;background-color: #ed7548;">
    <p style="width: 100%;text-align: center">
      请所有作者发布作品时务必遵守国家互联网信息管理办法规定，我们拒绝任何色情小说，一经发现，即作删除！举报电话：010-00000000
    </p>
    <p style="width: 100%;text-align: center">
      本站所收录的作品、社区话题、用户评论、用户上传内容或图片等均属用户个人行为。如前述内容侵害您的权益，欢迎举报投诉，一经核实，立即删除，本站不承担任何责任
    </p>
  </div>

</div>
