<div class="header">
  <app-nav></app-nav>
</div>

<div class="sample-layout coustom-home">

  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g-3">
        <p-panel>
          <p-header style=" text-align: center">
            图书分类
          </p-header>
          <div class="ui-g">
            <div class="ui-g-12 ui-g-nopad" >
              <div class="ui-g-4" *ngFor="let cate of categories;let i = index" style="background-color: #f9faf361;text-align: center;    border: 1px solid #ffffff;">
                <div class="book-category">
                  <a [routerLink]="['/category',cate.cateCode]">
                    <div>
                      <img src="../../../assets/img/category/g{{i+1}}.png" alt="" width="20px" height="20px">
                    </div>
                    <div style="font-family: cursive;font-weight: bold;">
                      {{cate.cateName}}

                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-g-nopad" style="text-align: right">
              <a [routerLink]="['/category/0']">
                >>更多
              </a>
            </div>
          </div>
        </p-panel>
      </div>
      <div class="ui-g-6">
        <p-galleria [style]="{'cursor':'pointer'}" [images]="images" (onImageClicked)="clickImage($event)" (onImageChange)="imageChanged($event)"
                    panelWidth="auto" panelHeight="200" showCaption="true"></p-galleria>
      </div>
      <div class="ui-g-3">
        <p-panel>
          <p-header>
            强烈推荐
          </p-header>
          <div class="ui-g">
            <div class="ui-g-12" *ngFor="let item of recommends" style="border-bottom: 1px solid #dddddd;"><a [routerLink]="['/profile', item.id]">{{item.bookName}}</a></div>
<!--
            <div class="ui-g-12" style="text-align: right">更多</div>
-->

          </div>
        </p-panel>
        <!--
                  <app-history [title]="oTitle" [content]="oContent"></app-history>
        -->
      </div>

    </div>
  </div>
  <div *ngFor="let item of items;let i=index">
    <app-common-category [items]="item" [cateName]="cateNames[i]" [cateCode]="cateCodes[i]"></app-common-category>
  </div>
  <div style="width: 1200px;height: 30px;margin: 0 auto ;text-align: center;background-color: #efefee;padding-top: 10px">
<!--
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=34052302341763" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
-->
    <a target="_blank"  style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
      <img src="assets/img/gaba.png" style="float:left;"/>
      <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">皖公网安备 34052302341763号 &nbsp;&nbsp;&nbsp;&nbsp; 皖ICP备19024615号</p></a>
  </div>
  <div class="ui-g" style="width: 1200px;height: 70px;margin: 0 auto ;text-align: center;color:#939393;background-color: #efefee;">
    <!--<p style="width: 100%;text-align: center">
      请所有作者发布作品时务必遵守国家互联网信息管理办法规定，我们拒绝任何色情、暴力等违反中国法律规定的信息上传，一经发现，即作删除！举报邮箱：aust_zyl1@163.com
    </p>-->
    <p style="width: 100%;text-align: center;color:#939393;">

      本站所收录的作品、图片等大部分资源来自互联网。如前述内容侵害您的权益，欢迎举报，一经核实，立即删除，本站不承担任何责任<br/>
      举报邮箱：aust_zyl1@163.com， QQ：474752606，为了更好的体验，请不要使用IE浏览器浏览本网站<br/>
      本站以研究互联网各类综合技术而搭建，完全以技术研究、真实环境各类测试为目的，
      全栈技术交流，欢迎加群：792276347
    </p>
  </div>
</div>
<!--
<div *ngIf="!showAdvise" (click)="showAdvise = !showAdvise" style="width: 120px;position: fixed;right: 0px;bottom: 50px;">
  <p-card>
    欢迎反馈！~
  </p-card>
</div>
<div *ngIf="showAdvise" style="width: 320px;position: fixed;right: 0px;bottom: 50px;">
  <app-advise></app-advise>
</div>
-->
