<p-growl [(value)]="message" life="2000"></p-growl>
<div class="header">
  <app-nav></app-nav>
</div>
<div class="container">
  <header class="clearfix">
    <h1></h1>

    <span class="support-note"></span>
  </header>
  <div class="main">
    <div class="book-shelf-left" (click)="previousPage()" *ngIf="this.pages > 1">
      <img src="assets/img/left.png" alt="" width="60px">
    </div>
    <div class="book-shelf-right" (click)="nextPage()" *ngIf="this.pages > 1">
      <img src="assets/img/right.png" alt="" width="60px">
    </div>
    <ul id="bk-list" class="bk-list clearfix" >
      <li *ngFor="let book of books;let i=index">
        <a class="bk-book book-{{i+1}}" [routerLink]="['/detail',book.bookDir,book.bookId]">
          <div class="bk-front">
            <div class="bk-cover">
              <h6>
                <span>{{book.bookName}}</span>
              </h6>
            </div>
            <div class="bk-cover-back"></div>
          </div>
          <div class="bk-page">
          </div>
          <div class="bk-back">
          </div>
          <div class="bk-right"></div>
          <div class="bk-left book-shelf-title-left" >
              <div class="book-shelf-title">{{book.bookName}}</div>
          </div>
          <div class="bk-top"></div>
          <div class="bk-bottom"></div>
        </a>
        <div title="移除" class="book-shelf-remove" (click)="remove(book.userId,book.bookId)">x</div>
      </li>
    </ul>

    <div class="bookshelf" ></div>
  </div>
</div><!-- /container -->
