<p-growl [(value)]="message" life="3000"></p-growl>

<div class="mid-class">
  <div class="art-right-w3ls">
    <h2>登录</h2>
    <form  autocomplete="off" #loginForm="ngForm">
      <div class="main">
        <div class="form-left-to-w3l">
          <input type="text" name="userName" placeholder="用户名" minlength="2" maxlength="20" required [(ngModel)]="userName">
        </div>
        <div class="form-left-to-w3l ">
          <input type="password" name="password" placeholder="密码" minlength="6" maxlength="20" required [(ngModel)]="pwd" (keyup)="enterAction($event)">
          <div class="clear"></div>
        </div>
      </div>

      <div class="right-side-forget">
        <a style="cursor: pointer" (click)="showForgotPassword = true" title="本网站只能通过密保问题重置密码">忘记密码</a>
      </div>
      <div class="clear"></div>
      <div class="btnn">
        <button [disabled]="!loginForm.form.valid" style="float: left" type="button" pButton (click)="login()" label="登录"></button>
      </div>
    </form>
    <div class="w3layouts_more-buttn">
      <h3>没有账号...?
        <a (click)="showRegister = true" style="cursor: pointer"  title="本网站只能通过密保问题重置密码">注册
        </a>
      </h3>
    </div>
    <!-- register popup-->
    <div id="content1" class="popup-effect" *ngIf="showRegister">
      <div class="popup" style="margin-top: 20px">
        <!--login form-->
        <div class="letter-w3ls">
          <form #regForm="ngForm" autocomplete="off">
            <div class="form-left-to-w3l" style="height: 60px">
              <input class="custom-placeholder" type="text" name="userName" placeholder="用户名(必填)长度2-20" required minlength="2" maxlength="20" style="padding: 8px" [(ngModel)]="user.userName">
            </div>
            <div class="form-left-to-w3l" style="height: 60px">
              <input class="custom-placeholder" type="text" name="userMobile" placeholder="手机号码"  maxlength="11" style="padding: 8px" [(ngModel)]="user.userMobile">
            </div>
            <div class="form-left-to-w3l" style="height: 60px">
              <input class="custom-placeholder" type="email" name="userEmail" placeholder="邮箱" maxlength="50" style="padding: 8px" [(ngModel)]="user.userEmail">
            </div>
            <div class="form-left-to-w3l" style="height: 60px">
              <input class="custom-placeholder" type="password" name="registerPassword" placeholder="密码(必填)长度6-20" required minlength="6" maxlength="20" style="padding: 8px" [(ngModel)]="registerPassword">
            </div>
            <div class="form-left-to-w3l margin-zero" style="height: 60px">
              <input class="custom-placeholder" type="password" name="confirmPassword" placeholder="确认密码(必填)长度6-20" minlength="6" maxlength="20" required style="padding: 8px" [(ngModel)]="confirmPassword">
            </div>
            <div class="form-left-to-w3l margin-zero" style="height: 60px">
              <p-dropdown [options]="questionsOne"
                          name="questionsOne" [(ngModel)]="user.pwdQuestionOne" scrollHeight="120px"
                          [style]="{'background':'#ffffff96','width':'100%','height':'39.33px','padding':'8px','border-bottom': '#00a1ff 2px solid'}"></p-dropdown>
            </div>
            <div class="form-left-to-w3l margin-zero" style="height: 60px">
              <input class="custom-placeholder" type="text" name="pwdQuestionOneAnswer" placeholder="密保问题一答案(必填)" required style="padding: 8px" [(ngModel)]="user.pwdQuestionOneAnswer">
            </div>
            <div class="form-left-to-w3l margin-zero" style="height: 60px">
              <p-dropdown [options]="questionsTwo"
                          name="questionsTwo" [(ngModel)]="user.pwdQuestionTwo" scrollHeight="120px"
                          [style]="{'background':'#ffffff96','width':'100%','height':'39.33px','padding':'8px','border-bottom': '#00a1ff 2px solid'}"></p-dropdown>
            </div>
            <div class="form-left-to-w3l margin-zero" style="height: 60px">
              <input class="custom-placeholder" type="text" name="pwdQuestionTwoAnswer" placeholder="密保问题二答案(必填)" required  style="padding: 8px" [(ngModel)]="user.pwdQuestionTwoAnswer">
            </div>

          </form>
          <div class="btnn">
            <button style="float: right" type="button" pButton [disabled]="!regForm.form.valid"
                    (click)="register()"
                    label="注册"></button>
            <br>
          </div>
          <div style="text-align: left;color: red">提示：本站只能通过密保问题重置密码</div>
          <div style="text-align: left;color: red">请谨记密保问题</div>
          <div class="clear"></div>
        </div>
        <!--//login form-->
        <a class="close" (click)="showRegister = false"  style="cursor: pointer">&times;</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- forgot password popup-->
    <div id="content2" class="popup-effect" *ngIf="showForgotPassword">
      <div class="popup" style="margin-top: 20px">
        <!--login form-->
        <div class="letter-w3ls">
          <form #regForgotForm="ngForm" autocomplete="off">
            <div class="form-left-to-w3l" style="height: 60px">
              <input class="custom-placeholder" type="text" name="userName" placeholder="用户名(必填)长度2-20" required minlength="2" maxlength="20" style="padding: 8px" [(ngModel)]="forgotUser.userName">
            </div>
            <div class="form-left-to-w3l" style="height: 60px">
              <input class="custom-placeholder" type="password" name="forgotRegisterPassword" placeholder="新密码(必填)长度6-20" required minlength="6" maxlength="20" style="padding: 8px" [(ngModel)]="forgotRegisterPassword">
            </div>
            <div class="form-left-to-w3l margin-zero" style="height: 60px">
              <input class="custom-placeholder" type="password" name="forgotConfirmPassword" placeholder="确认新密码(必填)长度6-20" minlength="6" maxlength="20" required style="padding: 8px" [(ngModel)]="forgotConfirmPassword">
            </div>
            <div class="form-left-to-w3l margin-zero" style="height: 60px">
              <p-dropdown [options]="questionsOne"
                          name="questionsOne" [(ngModel)]="forgotUser.pwdQuestionOne" scrollHeight="120px"
                          [style]="{'background':'#ffffff96','width':'100%','height':'39.33px','padding':'8px','border-bottom': '#00a1ff 2px solid'}"></p-dropdown>
            </div>
            <div class="form-left-to-w3l margin-zero" style="height: 60px">
              <input class="custom-placeholder" type="text" name="pwdQuestionOneAnswer" placeholder="密保问题一答案(必填)" required style="padding: 8px" [(ngModel)]="forgotUser.pwdQuestionOneAnswer">
            </div>
            <div class="form-left-to-w3l margin-zero" style="height: 60px">
              <p-dropdown [options]="questionsTwo"
                          name="questionsTwo" [(ngModel)]="forgotUser.pwdQuestionTwo" scrollHeight="120px"
                          [style]="{'background':'#ffffff96','width':'100%','height':'39.33px','padding':'8px','border-bottom': '#00a1ff 2px solid'}"></p-dropdown>
            </div>
            <div class="form-left-to-w3l margin-zero" style="height: 60px">
              <input class="custom-placeholder" type="text" name="pwdQuestionTwoAnswer" placeholder="密保问题二答案(必填)" required  style="padding: 8px" [(ngModel)]="forgotUser.pwdQuestionTwoAnswer">
            </div>

          </form>
          <div class="btnn">
            <button style="float: right" type="button" pButton [disabled]="!regForgotForm.form.valid"
                    (click)="forgotPassword()"
                    label="确定"></button>
            <br>
          </div>
          <div class="clear"></div>
        </div>
        <!--//login form-->
        <a class="close" (click)="showForgotPassword = false"  style="cursor: pointer">&times;</a>
      </div>
    </div>
    <!-- //popup -->
  </div>
</div>
<div style="position: fixed;top: 20px;left: 25px;cursor: pointer" (click)="toHome()">
  <img src="./assets/img/homepage.png" alt="返回主页" width="40">
</div>
