<div class="custom-label-parent">
  <div class="custom-label-child ">
    <i class="fa fa-leaf" aria-hidden="true">
    </i>
    <a>&nbsp;爱看书</a>
  </div>
  <p-menubar [model]="items">
     <span *ngIf="isLogin">
       <span class="custom-button"  (click)="logout()" >退出</span>
     </span>
     <span *ngIf="!isLogin">
       <span   label="注册" class="custom-button"  (click)="toRegister()">注册</span>
       <span  label="登录"class="custom-button" (click)="toLogin()" >登录</span>
     </span>


  </p-menubar>
</div>
